.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Карточки статистики */
.statsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Мобилка */
  gap: 20px;
}

/* Основной контент (Таблицы) */
.mainGrid {
  display: grid;
  grid-template-columns: 1fr; /* Мобилка */
  gap: 20px;
  align-items: flex-start;
}

/* Адаптив для десктопа (1440px) */
@media screen and (min-width: 1440px) {
  .statsGrid {
    grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
  }

  .mainGrid {
    grid-template-columns: 2fr 1fr; /* Левая часть в 2 раза шире правой */
  }
}
