.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.mainLayout {
  display: flex;
  flex: 1;
  align-items: stretch;
  min-height: 0;
}

.content {
  flex: 1;
  padding: 24px;
  background-color: #f7f8fa;
  overflow-y: auto;
}
